* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: aliceblue;
    background: #020029;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

}
.container {
    width: 500px;
    background: radial-gradient(ellipse at right top, #4361ee 10%, #7209b7 20%, #020029 80%);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(230, 233, 240);
}
.input-group {
    margin-bottom: 15px;
    text-align: left; /*علشان يكون النص على اليسار*/
}
.input-group label {
    display: block; /*علشان يكون في مسافة بين الليبل والانبوت*/
    font-size: 14px;
    margin-bottom: 5px;
}
/*عشان يكون الانبوت بين الليبل*/
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #00bcd4;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #022229;
}/*علشان يغير لون الزر عندما يحط الماوس عليه*/

.toggle {
    margin-bottom: 15px;
    margin-top: 15px;/* padding-top: 20px;*/
    font-size: 14px;
}/*علشان يكون النص صغير*/

.toggle a {
    color: #529bee;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.toggle a:hover {
    text-decoration: underline;
}
